@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  background-color: #1a1b26;
  min-height: 100dvh;
  overscroll-behavior: none;
}

body {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
